@charset "UTF-8";
html,
p,
h1 {
    -webkit-appearance: none;
    font-family: 'Hiragino Kaku Gothic ProN', "Meiryo";
}

.btn,
a.btn,
button.btn {
    outline: none;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    -webkit-appearance: none;
    font-size: 15px;
}

.half_btn {
    outline: none;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 170px;
    text-align: center;
    -webkit-appearance: none;
    font-size: 15px;
}

.created_content {
    outline: none;
    border: none;
    width: 300px;
    color: black;
}


.button_link,
a.button_link {
    color: black;
    background-color: rgb(121, 182, 206);
}
.button_link:hover,
a.button_link:hover {
    color: black;
    background: rgb(146, 222, 252);
  
}

ul.pointless {
    list-style: none;
}

.submit_button {
    outline: none;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    -webkit-appearance: none;
    color: black;
    background-color: rgb(112, 183, 112);
    font-size: 15px;
}

.submit_button:hover {
    outline: none;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    -webkit-appearance: none;
    color: black;
    background-color: lightgreen;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    box-sizing: border-box;
    height: 20px;
    width: 300px;
    border: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: black;
    border-radius: 0;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    outline: none;
}

.inline_form {
    display: inline;
}